<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<style>
	div.navbar nav ul li a{
		text-decoration:none;
		color: black;
	}
	</style>
</head>
<body>
	<div class="navbar">
		<nav>
			<ul>
				<li><a href = "/v2/{{project.id}}">User page</a></li>
				<li><a href="/view">Main page</a></li>
			</ul>
		</nav>
	</div>
	{% block content %}
		<h1>Projects: </h1>

		{% for project in projects %}
	<h3><a href="{% url 'v2' project.id %}">{{project.Title}}</a></h3>
		{% endfor %}
	{% endblock %}

</body>
</html>